%nav.black{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo.white-text{:href => "#"}
      %i.material-icons lightbulb_outline
      Harrington Electric
    %ul.right.hide-on-med-and-down
      %li
        %a.white-text{:href => "#testimonials"} Testimonials
      %li
        %a.white-text{:href => "#services"} Services
      %li
        %a.white-text{:href => "#contact"} Contact
      %li
        %a.white-text.btn.light-blue{:href => "https://squareup.com/", target: "_blank"} Payment
    %ul#nav-mobile.side-nav.white.darken-2
      .container.blue-text
        %h6 Harrington Electric LLC
        %p (405) 642-8066
        %hr
      %li
        %a.blue-text{class: "#{@color}-text", :href => "#testimonials"} Testimonials
      %li
        %a.blue-text{class: "#{@color}-text", :href => "#services"} Services
      %li
        %a.blue-text{class: "#{@color}-text", :href => "#contact"} Contact
      %li
        %a.blue-text{:href => "https://squareup.com/", target: "_blank"} Payment
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons.white-text menu
.parallax-container#index-banner
  .parallax
    = image_tag "wires"
.container#top
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.yellow-text.text-darken-2
            %i.material-icons flash_on
          %h4.center.fancy-font Reliable
          %p.light Comprehensive electrical contracting company with expertise in all areas of electrical installations.
      .col.s12.m4
        .icon-block
          %h2.center.red-text
            %i.material-icons warning
          %h4.center.fancy-font 24 Hr Emergency Service
          %p.light
            Emergency electrical problems can strike suddenly without advanced warning.
          %p.center
            %a.btn.waves-effect.waves-light.remote.blue{href: "#contact"}
              Contact Us
      .col.s12.m4
        .icon-block
          %h2.center.green-text
            %i.material-icons group
          %h4.center.fancy-font Specialists
          %p.light We service all electrical needs from homeowners, general contractors, real estate management companies and builders
.parallax-container.valign-wrapper
  .parallax
    = image_tag "lightning"

.container#testimonials
  .section
    .row.col.s12.center
      %h2.fancy-font.blue-text
        %i.material-icons people_outline
        Testimonials
    .row
      .col.l6.s12
        -# %iframe{:allowtransparency => "true", :frameborder => "0", :height => "392", :scrolling => "no", :src => "https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichelle.r.collier.7%2Fposts%2F1598982243446306%3A0&width=350", :style => "border:none;overflow:hidden", :width => "350"}
        .card.blue.darken-2
          .card-action
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            .right
              %a{:href => "https://www.facebook.com/michelle.r.collier.7/posts/1598982243446306:0", target: "_blank"}
                %i.material-icons.white-text link
          .card-content.white-text
            %span.card-title Michelle R Collier
            %p.small June 4 at 7:02pm
            %p
              We had Harrington Electric do some electrical work for our Escape Room. There were lots of mistakes from previous contractors and some pretty complex problems to solve. Kyle did a great job at a very reasonable price. We will definitely use Harrington Electric in the future -- highly recommended!
      .col.l6.s12
        .card.blue.darken-2
          .card-action
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.yellow-text star
            %i.material-icons.white-text star
          .card-content.white-text
            %span.card-title John Smith
            %p.small June 4 at 7:02pm
            %p= Faker::Lorem.paragraph
.parallax-container.valign-wrapper
  .parallax
    = image_tag "girl"
.container#contact
  .section
    .row.col.s12.center
      %h2.fancy-font.blue-text
        %i.material-icons people_outline
        Contact Us
      %h5.header.col.s12.black-text
        24 Hr. Emergency Service Available
        %br
        %br
        (405) 642-8066
    .fixed-action-btn{style: "bottom: 45px; right: 24px"}
      %a#help.waves-effect.waves-light.btn.btn-floating.black{href: "#contact"}
        %i.material-icons help_outline
    .tap-target{"data-activates" => "help"}
      .tap-target-content
        %h5.white-text Need help?
        %p.white-text Contact us today for a free estimate!
    .row.col.s12.center
      %form.col.offset-l3.l6.s12
        .row
          .input-field.col.l6.s12
            %input#name.validate{:type => "text"}/
            %label{:for => "name"} Name
          .input-field.col.l6.s12
            %input#email.validate{:type => "email"}/
            %label{:for => "email"} Email Address
          .input-field.col.s12
            %textarea#problem.materialize-textarea
            %label{:for => "problem"} Describe your problem
        .row
          %button.btn.waves-effect.waves-light.remote.green{:name => "action", :type => "submit", onclick: "Materialize.toast('Inquiry Sent.', 4000)"}
            Submit
            %i.material-icons.right send
%footer.page-footer{class: @color}
  .container#about
    .row
      .col.l9.s9
        %h5.white-text About Me
        %p.grey-text.text-lighten-4 Fair and honest electrical contractor. 7 years of commercial, residential and light industrial electrical installations and troubleshooting experience.
      .col.l3.s3
        %h5.white-text Social Media
        %ul
          %li
            %a.white-text{:href => "https://www.facebook.com/HarringtonElectric", target: "_blank"} Facebook
          %li
            %a.white-text{:href => "#!"} Twitter
          %li
            %a.white-text{:href => "#!"} Yelp
          %li
            %a.white-text{:href => "#!"} Instagram
          %li
            %a.white-text{:href => "https://squareup.com/", target: "_blank"} Sqaure
  .footer-copyright.black
    .container
      Made by
      %a.brown-text.text-lighten-3{:href => "http://lazyshark.biz"} Lazy Shark
